################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IX-RETAILER-ConsumingWebApi/.vs/IX-RETAILER-ConsumingWebApi/v16/Server/sqlite3
/IX-RETAILER-ConsumingWebApi/.vs/IX-RETAILER-ConsumingWebApi/v16
/IX-RETAILER-ConsumingWebApi/ExampleIXRetailer/bin/Debug
/IX-RETAILER-ConsumingWebApi/ExampleIXRetailer/Docs/Technical specification Ix.Retailer Api V1 per Sistemi.pdf
/IX-RETAILER-ConsumingWebApi/ExampleIXRetailer/Docs/API Contratti.docx
/IX-RETAILER-ConsumingWebApi/ExampleIXRetailer/obj/Debug
/IX-RETAILER-ConsumingWebApi/IO.Swagger/bin/Debug
/IX-RETAILER-ConsumingWebApi/IO.Swagger/obj/Debug
/IX-RETAILER-ConsumingWebApi/packages/JsonSubTypes.1.6.0
/IX-RETAILER-ConsumingWebApi/packages/Newtonsoft.Json.12.0.3
/IX-RETAILER-ConsumingWebApi/packages
